@charset "utf-8";
/* este es primer documento css del ejercici*/
/*
body{
background-color:##00FF00;
}
*/
/*
header
	{
	background-color:#36e59d;
	}
*/
#cabeceraweb
	{
	background-color:#00FF00;
	}
#navegacionprincipal
	{
	background-color:#22FF00;
	}
	
#navegacionprincipal
li
	{
	background-color:#00FC00;
	display:inline;
	}
	

	
#contenidopricipal
	{
	background-color:#0013F0;
	margin-left:205px;
	padding-left:50px;
	padding-top:50;
	}
	
#piedepagina
	{
	background-color:#00FF00;
	}

